
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  
  /* SocketTest.css */
.noti {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 70%;
}

.fa-bell {
  font-size: 24px;
  margin-right: 8px;
}

.notification-list {
  position: absolute;
  top: 100%;
  width: 200px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.notification-list li {
  padding: 8px 16px;
}

.show-notifications .notification-list {
  max-height: 200px; /* Adjust the max height as needed */
}
.notification-dot {
  position: absolute;
  top: 2px;
  right: 10px;
  width: 6px;
  height: 6px;
  background-color: red;
  border-radius: 50%;
}
.sellernoti{
  position: absolute;
  top: 20%;
  left: 10%;
}
.star-row {
  display: flex;
}

.star {
  font-size: 1em; /* Adjust the size as needed */
  margin-right: 2px; /* Adjust the spacing between stars as needed */
}
.cart-container {
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  overflow: scroll;
  left: 70%;
  top: 30%;
  margin: 0 auto;
}

.cart {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
}

.cart h3 {
  text-align: center;
  color: #333;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 16px;
}

.product-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 12px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #555;
}

.product-quantity {
  font-size: 14px;
  color: #777;
}

.cart-summary {
  margin-top: 16px;
  text-align: right;
}

.total-price {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.checkout-button {
  background-color: #28a745;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #218838;
}
